{% extends 'template.html.twig' %}

{% block title %}{{ parent() }} | Notes et Remarques diverses{% endblock %}

{% block content %}

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-9">
                    <!-- Post preview-->
                    <div class="post-preview">

                            <h2 class="post-title">Thèmes pour débat ou dissertation sur l'univers, la pensée, la mort,...</h2>
                        <hr>
                        {% for menu in menus %}

                            <h3 class="post-subtitle"><a href ="{{ path('section',{'slug': menu.getSlugTitle()}) }}">{{ menu.title }}</a></h3>
                            <p class="post-meta">
                                Charles J. Pitz
                            </p>
                        {% endfor %}




                    </div>
                    <!-- Divider-->


            </div>
        </div>

{% endblock %}
