{% extends 'template.html.twig' %}

{% block title %}{{ parent() }} | {{ section.title }}{% endblock %}

{% block content %}

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-9">
                    <!-- Post preview-->
                    <div class="post-preview">

                            <h2 class="post-title">Thèmes pour débat ou dissertation sur l'univers, la pensée, la mort,...</h2>
                        <hr>
                        <h3 class="post-subtitle">{{ section.title }}</h3>
                        <hr>

                    </div>
                    <!-- Divider-->
                    <div class="col-md-10 col-lg-8 col-xl-9">
                        <!-- Post preview-->
                        <div class="post-preview">
                                <h4 class="post-subtitle">Problems look mighty small from 150 miles up</h4>
                            </a>
                            <p class="post-meta">
                                Écrit par Charles J. Pitz - SABAM 764 379 100
                            </p>
                        </div>
                        <!-- Post preview-->
                        <div class="post-preview">
                            <h4 class="post-subtitle">Problems look mighty small from 150 miles up</h4>
                            </a>
                            <p class="post-meta">
                                Écrit par Charles J. Pitz - SABAM 764 379 100
                            </p>
                        </div>



            </div>
        </div>

{% endblock %}
